@import "../../index.css";

.home-page-content {
    padding: var(--navbar-height) var(--page-padding) 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-primary);
}

.filter-buttons {
    list-style: none;
}