.searchbar-wrapper {
    display: flex;
    align-items: center;
    margin: 20px auto;
    max-width: 1700px;
    background: linear-gradient(90deg, #f9fafb,  #f9fafb);
    border: 1px solid #ddd8d8 !important;
    border-radius: 12px;
    padding: 8px 12px;
}

.search-input {
    flex: 1;
    padding: 10px 12px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #111827;
}
