* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #48179c;
    --text-primary: black;
    --title-color: #111827;
    --text-secondary: #4a5565;
    --text-third: #718096;
    --bg-color: white;
    --card-bg-color: #f7fafc;
    --card-border-color: #ebe6e7;
    --card-shadow: 0 18px 36px rgba(44, 36, 66, 0.12);

    --navbar-height: 65px;
    --navbar-text-color: #4a5565;
    --navbar-text-color-hovered: #101828;
    --footer-text-color: #99a1af;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: white;
        --title-color: white;
        --text-secondary: #a9b4c5;
        --text-third: #808996;
        --bg-color: #101828;
        --card-bg-color: #18233a;
        --card-border-color: #575a6e;
        --card-shadow: 0 18px 36px rgba(177, 159, 234, 0.12);
        --page-padding: 20vw;
        --navbar-text-color: var(--text-secondary);
        --navbar-text-color-hovered: #ffffff;
    }
}

@media (max-width: 1600px) {
    :root {
        --page-padding: 10vw;
    }
}

@media (max-width: 1100px) {
    :root {
        --page-padding: 5vw;
    }
}

@media (max-width: 850px) {
    .navbar-section {
        display: none;
    }

    .navbar-section:first-child {
        display: block;
    }

    .hamburger-button {
        display: flex !important;
    }
}

@media (max-width: 700px) {
    .footer-sections {
        flex-direction: column !important;
        align-items: center !important;
    }

    .footer-section {
        align-items: center;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
}
