name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - dev
      - "**"

jobs:
  test:
    name: Go Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: backend/go.mod
          cache: true

      - name: Build backend
        run: go build ./...

      - name: Run tests
        run: go test ./...
  flutter_tests:
    name: Flutter Mobile Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install Flutter dependencies
        run: |
          cd frontend/mobile
          flutter pub get

      - name: Run Flutter unit tests
        run: |
          cd frontend/mobile
          flutter test --no-pub
